@charset "UTF-8";

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h1 {
    color: green;
    text-align: center;
}

body {
    background-color: rgb(190, 227, 215);
}

.basico {
    color: green;
    background-color: rgba(255, 0, 0, 0.184);
}

.intermediario{
    color: yellow;
    background-color: rgba(8, 0, 255, 0.145);
}

.avancado {
    color: red;
    background-color: rgba(0, 128, 0, 0.206);
}

.destaque {
    background-color: rgba(255, 255, 0, 0.131);
}